
<!--THIS IS THE HOME PAGE JUMBOTRON DESIGN FROM BOOTSTRAP,
you can add the "center class" to "Jumbotron class" to center everything inside "Jumbotron"-->
<div class = "jumbotron center">
	<h1>[ pyNoobs! ]</h1>	
	<p>   SignUp  <%= link_to "here", "#", class: "btn btn-primary" %> to learn!</p>
</div>

<div class = "jumbotron center">
	<h6>[ pyNoobs! ].net is a simple way to share Python code for
	beginners. Enjoy! kjdkjdnasnwqnddnqwdnqw;dnqw;dnqw;dnqw;dnqw;dndqdqwdqwdnqwdnqwd
ddqwjdq;wdjq;wdjqw;dj;djqw ;djqw;dqw d;qjdqwd ;djqw;dqw d;jqwdnqwd ;dnq;wdnqwdqw qnwd
qd;jqnwdoqw'dkqwdokqw'doqwd'qkwd'qwkdq'wkdnqw'odqwdkqw'odkqw w'dokqdqkd;oqwdq  qkndqkdnqw
d;kjqd;qwdnq;w</h6>
</div>

