
<!--THIS IS THE HOME PAGE JUMBOTRON DESIGN FROM BOOTSTRAP,
you can add the "center class" to "Jumbotron class" to center everything inside "Jumbotron"-->
<div class = "jumbotron center">
	<h1>[ pyNoobs! ]</h1>	
	<p>   click  <%= link_to "here", code_path , class: "btn btn-primary" %> to start!</p>
</div>

<div class = "jumbotron center">
	<h6>[ pyNoobs! ].net THIS PAGE IS UNDER CONSTRUCTION</h6>
</div>

